<div class='header clearfix'>
  <nav>
    <ul class='nav nav-pills float-right'>
      <li class='nav-item'>
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <% if current_user %>
          <%= link_to 'Sign out', signout_path, id: 'sign_out', class: 'nav-link' %>
        <% else %>
          <%= link_to 'Sign in with Google', 'auth/google_oauth2', id: 'sign_in', class: 'nav-link' %>
        <% end %>
      </li>
    </ul>
  </nav>
  <h3 class='text-muted'>Streamup</h3>
</div>
