<div class='header clearfix'>
  <nav>
    <ul class='nav nav-pills float-right'>
      <li class='nav-item'>
        <a class='nav-link active'>Home</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link'>About</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link'>Contact</a>
      </li>
    </ul>
  </nav>
  <h3 class='text-muted'>Streamup</h3>
</div>
